<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cli" class="com.excilys.cdb.vue.Cli" scope="prototype" lazy-init="true"></bean>
	<bean id="hikariConnection" class="com.excilys.cdb.hikaricp.HikariCP" scope="singleton" lazy-init="true"></bean>
	<bean id="daoCompany" class="com.excilys.cdb.dao.JDBCCompany" scope="prototype" lazy-init="true"></bean>
	<bean id="daoCOmputer" class="com.excilys.cdb.dao.JDBCComputer" scope="prototype" lazy-init="true"></bean>
	<bean id="companyService" class="com.excilys.cdb.services.CompanyServices" scope="prototype" lazy-init="true"></bean>
	<bean id="computerService" class="com.excilys.cdb.services.ComputerServices" scope="prototype" lazy-init="true"></bean>
	
</beans>